Package: iOSGods.com.WildRiftVNG
Name: Lien Minh Toc Chien Cheats
Depends: mobilesubstrate
Architecture: iphoneos-arm
Description: Lien Minh Toc Chien iGMM Cheats by Laxus for iOSGods.com!
Maintainer: iOSGods.com
Author: Laxus
Section: Tweaks
Homepage: https://iosgods.com
Version: 2.0.0+iOSGods.com
Installed-Size: 8768
